<div class="row chat-window">
    <div class="col-lg-12">
        <p>Chat Window</p>
        <mat-card>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <mat-icon matListIcon aria-hidden="false" aria-label="bookmark">bookmark</mat-icon>
                    <p matLine>Person 1</p>
                    <p matLine >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <mat-divider></mat-divider>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-icon matListIcon aria-hidden="false" aria-label="bookmark">bookmark</mat-icon>
                    <p matLine>Person 1</p>
                    <p matLine >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </mat-list-item>
              </mat-list>
        </mat-card>
    </div>
</div>
