<div class="container">
  <div class="row header">
      <div class="col-lg-6">
        <span>Material Design</span>
        <h3>Simple chat Application</h3>
      </div>
      <div class="col-lg-6">
        <button class="float-right" mat-raised-button color="primary" (click)="loadComponent()">
          <mat-icon aria-hidden="false" aria-label="Example add icon">add</mat-icon>
          Add new person
        </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-8">
      <div class="row direction-column">
          <ng-container host></ng-container>
      </div>
    </div>
    <div class="col-lg-4">
      <app-chat-list></app-chat-list>
    </div>
  </div>
</div>